<!DOCTYPE html>
<html lang="en">
	<head>
        <link href="https://kendo.cdn.telerik.com/2021.2.616/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <script src="https://kendo.cdn.telerik.com/2021.2.616/js/jquery.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2021.2.616/js/jszip.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.all.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.aspnetmvc.min.js"></script>
        @Html.Kendo().DeferredScripts()

	</head>
	<body>
        @RenderBody()
	</body>
</html>
